* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
}

/* styling the title */
/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #ff4500;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #ff4500;
}
/* ***************** */
.header {
  text-align: center;
  margin: 2rem;
}
.logo{
  height: 20vh;
}
.tilte-logo-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}
.logoicon {
  height: 10rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 padding: 0 10rem;
  width: 50vw;
  margin: auto auto;
  box-shadow: rgba(121, 41, 12, 0.25) 10px 50px 100px 40px, rgba(121, 41, 12, 0.25) 0px 50px 100px -20px, rgba(243, 86, 30, 0.3) 0px 30px 60px -30px, rgba(233, 69, 9, 0.35) 0px -2px 6px 0px inset;
}

.inner {
  width: 100%;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: space-evenly;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}